branches:
  except: 
    - rpi
    - swift3

language: generic
sudo: required

os:
    - linux
    - osx
    
dist: trusty
osx_image: xcode9.3

env: 
    - SWIFT_VERSION=4.0
    - SWIFT_VERSION=4.1

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export OPENSSL_ROOT_DIR=$(brew --prefix openssl); fi;

  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
  
  - echo "Installing libwebsockets...";
    git clone "https://github.com/warmcat/libwebsockets" || exit 3;
    pushd libwebsockets || exit 5;
    (cmake . && make && sudo make install) || exit 5;
    popd;
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo ldconfig; fi;

script:
  - swift test
